@import "../../lib/styles/variables.scss";

.chat {
	.chat-inner {
		min-height: 100vh;
		display: flex;
		align-items: flex-start;
		justify-content: center;

		.chat-content {
			width: calc(100% - 40px);
			height: calc(100vh - 40px);
			margin: 20px;

			@media #{$break-md-up} {
				width: calc(100% - 100px);
				height: calc(100vh - 100px);
				margin: $spacing-large;
			}

			.chat-content-inner {
				height: 100%;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
