@import "../../styles/variables";

.button-wrap {
	margin-top: $spacing-standard;
}

.button {
	margin: 0 20px 20px 0;
	padding: 13px 15px 12px 15px;
	-webkit-appearance: none;
	appearance: none;
	background-color: $black;
	border: $border-size solid $black;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-weight: $font-weight-bold;
	font-size: $font-size-supporting;
	color: $white;
	text-transform: uppercase;
	text-align: left;
	line-height: $line-height-condensed;
	transition: all $transition-speed $transition-easing;
	cursor: pointer;

	&.no-margin-bottom {
		margin-bottom: 0;
	}

	&.no-margin-right {
		margin-right: 0;
	}

	span {
		font-weight: $font-weight-bold;
		font-size: $font-size-supporting;
		color: $white;
		text-transform: uppercase;
		line-height: $line-height-condensed;
	}

	&:focus-visible {
		outline: 0;
	}

	&:hover,
	&:focus-visible {
		background-color: transparent;
		color: $black;

		span {
			color: $black;
		}
	}
}
