@import "../../lib/styles/variables.scss";

body {
	height: 100vh;
	max-height: $spacing-vh;
	background: $white;
	font-family: $font-family;
	color: $black;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
	margin-top: 0;
}

ul,
ol {
	li {
		&::marker {
			color: $black;
		}
	}
}
