@import "./variables.scss";

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0 0 $spacing-standard 0;
	font-family: $font-family;
	font-weight: $font-weight-bold;
	color: $black;
	line-height: $line-height-condensed;
}

h1,
.h1 {
	margin-bottom: $spacing-large;
	font-size: $font-size-h1;
}

h2,
.h2 {
	font-size: $font-size-h2;
}

h3,
.h3 {
	font-size: $font-size-h3;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-size: $font-size-h4;
}

p {
	margin: 0 0 $spacing-standard 0;
	font-family: $font-family;
	font-size: $font-size-body;
	color: $black;
	line-height: $line-height-body;
}

ul,
ol {
	margin: 10px 0 $spacing-standard 0;
	padding-left: 20px;

	li {
		margin-bottom: 5px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	ul {
		list-style: disc;
	}
}

a {
	color: $black;

	&:hover {
		text-decoration: none;
	}

	&:focus-visible {
		outline: 0;
		box-shadow: inset 0 0 0 $border-size $black;
	}
}

strong,
b {
	font-weight: $font-weight-bold;
}

em,
i {
	font-style: italic;
}
