// Breakpoints
$break-xs: 425px;
$break-sm: 600px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

// Media Queries
$break-xs-up: "screen and (min-width: #{$break-xs})";
$break-sm-up: "screen and (min-width: #{$break-sm})";
$break-md-up: "screen and (min-width: #{$break-md})";
$break-lg-up: "screen and (min-width: #{$break-lg})";
$break-xl-up: "screen and (min-width: #{$break-xl})";

// Usage:
// @media #{$break-md-up} {}

// Colors
$white: #fff;
$grey-lt: #f7f7f7;
$grey: #aaaaaa;
$grey-dk: #6e6e6e;
$black: #000;
$red: #d50000;

:root {
	--white: #{$white};
	--grey-lt: #{$grey-lt};
	--black: #{$black};
	--red: #{$red};
}

// Spacing
:root {
	--doc-height: 100%;
}

$spacing-standard: 30px;
$spacing-medium: 40px;
$spacing-large: 50px;
$spacing-vh: var(--doc-height, 100vh);

:root {
	--spacing-standard: #{$spacing-standard};
	--spacing-medium: #{$spacing-medium};
	--spacing-large: #{$spacing-large};
	--spacing-vh: #{$spacing-vh};
}

// Borders
$border-size: 2px;

:root {
	--border-size: #{$border-size};
}

// Font Families
$font-family: Helvetica, Arial, sans-serif;

:root {
	--font-family: #{$font-family};
}

// Font Weights
$font-weight-regular: 400;
$font-weight-bold: 700;

:root {
	--font-weight-regular: #{$font-weight-regular};
	--font-weight-bold: #{$font-weight-bold};
}

// Font Sizes
$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 21px;
$font-size-h4: 18px;
$font-size-body: 18px;
$font-size-supporting: 16px;
$font-size-small: 14px;

:root {
	--font-size-h1: #{$font-size-h1};
	--font-size-h2: #{$font-size-h2};
	--font-size-h3: #{$font-size-h3};
	--font-size-h4: #{$font-size-h4};
	--font-size-body: #{$font-size-body};
	--font-size-supporting: #{$font-size-supporting};
	--font-size-small: #{$font-size-small};
}

// Line Height
$line-height-body: 1.4;
$line-height-condensed: 1.2;

:root {
	--line-height-body: #{$line-height-body};
	--line-height-condensed: #{$line-height-condensed};
}

// Transitions
$transition-speed: 0.1s;
$transition-easing: ease-in-out;

:root {
	--transition-speed: #{$transition-speed};
	--transition-easing: #{$transition-easing};
}
