@import "../../styles/variables";

.checkmark-wrap {
	display: inline-block;

	.checkbox {
		height: 49px;
		display: flex;
		align-items: center;
		cursor: pointer;

		&.toggle {
			width: auto;
			display: inline-flex;
		}

		.checkmark {
			position: relative;
			margin-right: #{$spacing-standard / 2};

			input[type="checkbox"] {
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color: $white;
				border: $border-size solid $black;
				cursor: pointer;

				&:focus-visible {
					background-color: $black;
					outline: 0;
				}

				&.true {
					background-color: $black;

					&:focus-visible {
						background-color: $black;
						outline: 0;

						& ~ svg {
							color: $white;
						}
					}
				}
			}

			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 12px;
				color: $white;
			}
		}

		.label {
			margin: 0;
			font-weight: $font-weight-regular;
			font-size: $font-size-body;
			line-height: $line-height-body;
		}
	}
}

.checkbox-group {
	.button {
		margin: 20px 0 0 0;
	}
}
