@import "../../styles/variables";

label {
	width: 100%;
	display: block;

	.label {
		display: block;
		margin-bottom: #{$spacing-standard / 2};
		font-weight: $font-weight-bold;
		font-size: $font-size-supporting;
		color: $black;
		line-height: $line-height-condensed;
	}

	&.error {
		input:not([type="radio"]):not([type="checkbox"]) {
			border-color: $red;
		}
	}
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
select,
textarea {
	&::placeholder {
		color: $black;
	}

	&:-ms-input-placeholder {
		color: $black;
	}

	&::-ms-input-placeholder {
		color: $black;
	}
}

.action-links-wrap {
	min-height: 49px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.input-action-links-wrap {
	.input-action-links-row {
		@media #{$break-md-up} {
			display: flex;
		}

		.input-action-links {
			margin: 0 0 #{$spacing-standard / 2} 0;

			@media #{$break-md-up} {
				margin-right: #{$spacing-standard};
			}

			&.right {
				@media #{$break-md-up} {
					margin-right: 0;
					margin-left: auto;
				}
			}

			.label {
				display: inline-block;
				margin-right: #{$spacing-standard / 2};
				font-weight: $font-weight-bold;
				color: $black;
			}
		}

		&.bottom {
			.input-action-links {
				margin-top: #{$spacing-standard / 2};
				margin-bottom: 0;
			}
		}
	}
}

.form-response {
	margin: #{$spacing-standard / 2} 0 0 0;
	font-weight: $font-weight-bold;
	font-size: $font-size-supporting;
	line-height: $line-height-body;

	&.error {
		color: $red;
	}

	&.global {
		margin-bottom: $spacing-standard;
	}
}
