@import "../../styles/variables";

input:not([type="radio"]):not([type="checkbox"]) {
	width: 100%;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 12px 15px 11px 15px;
	box-sizing: border-box;
	border: $border-size solid $black;
	border-radius: 0;
	font-size: $font-size-body;
	color: $black;
	line-height: $line-height-condensed;

	&:focus-visible {
		background-color: $white;
		outline: 0;
	}
}
