@import "../../styles/variables.scss";

.radio {
	box-sizing: border-box;

	input[type="radio"] {
		width: 22px;
		height: 22px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: $border-size solid $black;
		border-radius: 50%;
		vertical-align: middle;
		cursor: pointer;

		&.checked {
			background-color: $black;
			box-shadow: 0 0 0 #{$border-size + 1} inset $white;
		}
	}

	.label {
		display: inline-block;
	}
}
