@import "../../lib/styles/variables.scss";

.login {
	.login-inner {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;

		.login-content {
			width: 100%;
			max-width: 450px;

			& > div {
				margin: 0 20px;
			}

			.login-form {
				margin-top: 20px;
				margin-bottom: 20px;
				padding: $spacing-standard;
				background-color: $grey-lt;
				border: 3px solid $black;

				@media #{$break-xs-up} {
					margin-top: $spacing-large;
					margin-bottom: $spacing-large;
					padding: $spacing-large;
				}

				.intro {
					text-align: center;

					h1 {
						margin: 0 0 2px 0;
					}
				}

				.grid-row {
					&.last {
						.grid-col-full {
							margin-bottom: 0;

							@media #{$break-md-up} {
								margin-bottom: $spacing-standard;
							}
						}
					}
				}

				.button-wrap {
					.button-wrap-inner {
						@media #{$break-xs-up} {
							display: flex;
							align-items: flex-end;

							& > div {
								flex-shrink: 0;
							}
						}

						.version {
							margin: 20px 0 0 auto;

							@media #{$break-xs-up} {
								margin: 0 0 0 auto;
							}
						}
					}
				}
			}
		}
	}
}
