@import "../../../lib/styles/variables.scss";

.chat-box {
	background-color: $grey-lt;
	border: 3px solid $black;

	.chat-box-inner {
		.interaction {
			box-sizing: border-box;
			padding: $spacing-standard;

			@media #{$break-md-up} {
				padding: $spacing-large;
			}

			&.statement {
				.rcw-sender {
					display: none;
				}
			}

			.interaction-inner {
				.rcw-widget-container {
					position: static;

					&.rcw-full-screen {
						height: calc(#{$spacing-vh} - 240px);

						@media #{$break-md-up} {
							height: calc(#{$spacing-vh} - 261px);
						}
					}

					.rcw-conversation-container {
						min-width: auto;
						max-width: 100%;
						border-radius: 0;
						box-shadow: none;

						.rcw-header,
						.rcw-picker-btn {
							display: none;
						}

						.rcw-messages-container {
							height: 100%;
							padding: 0 15px 0 0;
							background-color: transparent;
							overflow-y: auto;

							@media screen and (max-width: 800px) {
								height: 100%;
							}

							.rcw-message {
								margin: 15px 0;

								&:first-of-type {
									margin-top: 0;
								}

								&:last-of-type {
									margin-bottom: 0;
								}

								.rcw-meta {
									display: flex;

									.rcw-timestamp {
										margin: 0;
										font-family: $font-family;
										font-size: $font-size-body;
										color: $black;
										line-height: $line-height-body;
									}

									.rcw-links {
										margin: 0 0 0 15px;
										padding: 0 0 0 15px;
										border-left: 1px solid $black;
									}
								}
							}

							.rcw-response,
							.rcw-client {
								width: 100%;

								.rcw-message-text {
									width: auto;
									max-width: 56%;
									background-color: $white;
									border-radius: 0;

									&.options {
										width: 100%;
									}

									.rcw-message-options {
										.button {
											display: block;
											margin: 0 0 10px 0;

											&:last-of-type {
												margin: 0;
											}
										}

										p {
											font-family: $font-family;
											font-size: $font-size-body;
											color: $black;
											line-height: $line-height-body;
										}
									}

									.loading-message {
										width: 58px;
									}
								}
							}

							.rcw-client {
								align-items: flex-end;
							}
						}

						.quick-buttons-container {
							flex-shrink: 0;
							margin: 20px 0 0 0;
							padding: 0;
							background-color: transparent;

							.quick-list-button {
								width: 100%;
								margin: 0;

								.quick-button {
									width: 100%;
									max-width: 500px;
									display: block;
									margin: 0 auto;
									padding: 13px 15px 12px 15px;
									box-sizing: border-box;
									background-color: $black;
									background-attachment: unset;
									border: $border-size solid $black;
									-webkit-border-radius: 0;
									border-radius: 0;
									font-weight: $font-weight-bold;
									font-size: $font-size-supporting;
									color: $white;
									text-transform: uppercase;
									text-align: center;
									line-height: $line-height-condensed;
									transition: all $transition-speed $transition-easing;
									cursor: pointer;

									&:hover,
									&:focus-visible {
										background-color: transparent;
										color: $black;
									}

									&:focus-visible {
										outline: 0;
									}
								}
							}
						}

						.rcw-sender {
							min-height: 122px;
							flex-wrap: wrap;
							padding: 24px 0 0 0;
							background-color: transparent;
							border-radius: 0;

							@media #{$break-sm-up} {
								min-height: 53px;
								flex-wrap: nowrap;
							}

							.rcw-new-message {
								width: 100%;
								display: block;
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;
								padding: 8px 15px 7px 15px;
								box-sizing: border-box;
								border: $border-size solid $black;
								border-radius: 0;

								&:focus-visible {
									background-color: $black;
									outline: 0;
								}

								.rcw-input {
									padding: $border-size 0;
									outline: none;
									font-family: $font-family;
									font-size: $font-size-body;
									color: $black;
									line-height: $line-height-body;

									&[placeholder]:empty:before {
										color: $black;
									}

									&:focus-visible {
										outline: none;
									}
								}

								&.rcw-message-disable {
									background-color: $grey-lt;
									border: $border-size solid $black;

									.rcw-input {
										&[placeholder]:empty:before {
											content: "Loading...";
											color: $grey-dk;
										}
									}
								}
							}

							.rcw-send {
								margin: 10px 0 0 auto;
								padding: 0;
								background-color: transparent;
								font-family: $font-family;
								font-weight: $font-weight-bold;
								font-size: $font-size-supporting;
								color: $white;
								text-transform: uppercase;
								text-align: left;
								line-height: $line-height-condensed;

								@media #{$break-sm-up} {
									margin: 0 0 0 20px;
								}

								&:before {
									content: "Send";
									display: block;
									margin: 0;
									padding: 13px 15px 12px 15px;
									-webkit-appearance: none;
									appearance: none;
									background-color: $black;
									border: $border-size solid $black;
									-webkit-border-radius: 0;
									border-radius: 0;
									font-weight: $font-weight-bold;
									font-size: $font-size-supporting;
									color: $white;
									text-transform: uppercase;
									text-align: left;
									line-height: $line-height-condensed;
									transition: all $transition-speed $transition-easing;
									cursor: pointer;
								}

								&:focus-visible {
									&:before {
										outline: 0;
									}
								}

								&:hover,
								&:focus-visible {
									&:before {
										background-color: transparent;
										color: $black;
									}
								}

								.rcw-send-icon {
									display: none;
								}
							}

							.rcw-message-disable {
								& ~ .rcw-send {
									&:before {
										background-color: $grey;
										color: $black;
										cursor: not-allowed;
									}

									&:hover {
										&:before {
											background-color: $grey;
											color: $black;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
