@import "../../../lib/styles/variables.scss";

.header {
	flex-shrink: 0;
	margin-top: 15px;
	margin-bottom: $spacing-standard;

	@media #{$break-md-up} {
		margin-top: 0;
	}

	.header-inner {
		width: 100%;

		@media #{$break-md-up} {
			display: flex;
		}

		.link {
			margin: 2px 0 0 0;
			padding: 0;
			-webkit-appearance: none;
			appearance: none;
			background-color: transparent;
			border: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			font-weight: $font-weight-regular;
			font-size: $font-size-body;
			color: $black;
			text-align: left;
			line-height: $line-height-condensed;
			transition: all $transition-speed $transition-easing;
			cursor: pointer;

			@media #{$break-md-up} {
				position: relative;
				top: -1px;
				margin: 0 0 0 15px;
			}

			span {
				text-decoration: underline;
			}

			&:hover {
				span {
					text-decoration: none;
				}
			}
		}

		h1 {
			margin: 0;
		}
	}
}
